/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	// height: 100%;
	font-family: sans-serif;
	background: #14121f;
}

@primaryColor: crimson;
@secondaryColor: darken(@primaryColor, 10%);
@triadColor: lighten(@primaryColor, 5%);

.flex(@justify, @align, @direction, @wrap) {
	display: flex;
	justify-content: @justify;
	align-items: @align;
	flex-direction: @direction;
	flex-wrap: @wrap;
}

.borderSides() {
	border-left: black solid 8px;
	border-right: black solid 8px;
}

.container {
	width: 800px;
	// height: 10vh;
	margin: 0 auto;
	background: white;
	@media (max-width: 800px) {
		width: 100%;
		// background: red;
	}
}

.header-border {
	border-bottom: black solid 4px;
	border-top: rgb(10, 8, 8) solid 4px;
}

header {
	width: 100%;
	background: @primaryColor;
	// .header-border();
	.flex(center, center, row, nowrap);
	nav {
		width: 50%;
		.flex(space-evenly, center, row, nowrap);
		a {
			color: white;
			text-decoration: none;
			font-size: 16px;
			padding: 15px 35px;

			&:hover {
				transition: all 0.5s;
				background: @secondaryColor;
			}
		}
	}
}

.jumbotron {
	// background: silver;
	.borderSides;
	padding: 20px;
	height: 50vh;
	margin: 25px;
	border-radius: 20px;
	.jumbo-top {
		.flex(space-evenly, center, row, nowrap);
		text-align: center;
		height: 100%;
		img {
			max-width: 174px;
			border: black solid 5px;
		}

		h1 {
			font-size: 2.5rem;
			font-weight: bold;
		}

		p {
			padding: 10px;
			font-size: 18px;
		}
	}

	@media (max-width: 800px) {
		.jumbo-top {
			.flex(center, space-evenly, column, nowrap);
		}
	}
}

.main-section {
	.flex(stretch, flex-top, row, nowrap);
	height: 100%;
	margin: 0 25px;

	.about-me {
		width: 30%;
		padding: 0 15px;
		border-right: @secondaryColor solid 3px;
	}

	.skill-history {
		padding: 0 20px;
	}

	h2 {
		font-size: 1.5rem;
		padding: 2px 0;
	}

	li {
		font-size: 18px;
		font-weight: 500;
	}
	@media (max-width: 800px) {
		.flex(center, stretch, column, nowrap);

		.about-me {
			border: none;
			border-bottom: @secondaryColor solid 3px;
			width: 100%;
		}
	}
}

.contact {
	// background: @triadColor;
	// border-top: @secondaryColor solid 3px;
	padding: 20px 50px;
	.flex(center,center,column, nowrap);
	form {
		.flex(center,center,column, nowrap);
		input {
			margin: 5px 0;
			.name {
				.flex(space-between, center, row, nowrap);
			}
		}

		#email {
			width: 100%;
		}
	}
}

footer {
	background: @secondaryColor;
	height: 45px;
	color: white;
	text-align: center;
	p {
		padding: 15px;
	}
}
